/*-------QUESTIONS---------*/

#questions-form {
    margin: 100px 20px;
}

.section-one, .section-two {
    margin-bottom: 30px;
}

#questions-form h1 {
      text-align: center;
      text-transform: uppercase;
}

#questions-form input, select, textarea {
      border: 1px solid #023047 ;
      border-radius: 5px;
}

#candidates {
    margin: 40px 0;
    text-align: center;
}

#questions {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.question-header {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #219EBC;
}

.flex-container {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #219EBC;
    margin-bottom: 20px;
}

.question {
    flex: 95%;
    padding: 10px;
}

select {
    max-height: 40px;
    flex: 5%;
    text-align: center;
}

#interviewer {
    text-align: center;
    margin-bottom: 80px;
}

#interviewer label {
    margin: 0 10px;
}

#notes {
    display: flex;
    align-items: center;
    justify-content: center;
}

#notes label {
    margin: 0 10px;
}

#submit {
    width: 100%;
    text-align: center;
}

.submit-btn {
    border: 1px solid black;
    background: #219EBC;
    color: white;
    padding: 0.5rem 1rem ;
    margin-top: 30px;
    margin-left: 60px;
}

.submit-btn:hover {
    background: none;
    color: #219EBC;
}