{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}


<h1 id="onboard">Onboarding</h1>
=======
<h1 id="onboard">Onboarding process</h1>

<h2 class="points">Diversity and Inclusiveness<h2>

<p class="process">We are specialised in inclusive onboarding processes. Our main goal is increasing diversity at work place and creating mentorship programs which
     help companies embrace difference. When companies administer and uphold the precepts of diversity within an organization, it creates a more enriched 
     environment that fosters employee growth, innovation and productivity.
</p>
<p class="process">Workplace is “the collective mixture of differences and similarities that include individual and organizational characteristics, values, beliefs,
     experiences, backgrounds, preferences and behaviors.” It’s appreciating the whole person for the traits and talents that set them apart from one another. 
</p>
<p class="process">In parallel with diversity, an inclusive work ecosystem offers unbiased and respectful treatment, regardless of the environment. Inclusion celebrates the 
    things that make all of us different, like age, gender, religion, education, etc. and how these differences offer empowerment and connection. Employees 
    are treated fairly across the board and open to the same opportunities, tools and resources. With widely accepted social mores and office standards as its
    foundation, inclusion is the act of making an “outsider” feel accepted.
</p>

<p class="process">All of our hiring managers, interviewers and recruiters have been trained to understand and counteract their unconscious and conscious biases.
   Our hiring process and use techniques are fair (inclusive language in job ads, blind CV reviews, and standardized questions and scoring in interviews).
</p>
<p class="process">Online onboarding is now available ! Please contact us to learn more about this opportunity.</p>

<h2 class="points">Onboarding procedure</h2>
=======
<h2>Onboarding procedure</h2>

<ol type="1" id="stages">
   <li>Pre-onboarding - When the offer is accepted we will prepare everything for your first day and help you with all the necessary paperwork.
     We will discuss any additional requirements that we did not talk about on the interview. We will also send you a video that gives a brief 
     idea about how the organization works and what your first day will look like. If you are relocating, please get in touch with us if you need
     help in finding place to live.
   </li>
   <li>
      Welcome on board - We will keep it simple! On your first day you will meet all your co-workers, we will have team lunch and this will be a day for settling in.
      We will do everything to make you comfortable and adjust well. We will prepare timetable and agenda for you. You will learn about our organizational culture and
      we will discuss topics like time off, attendance, medical insurance, and payroll policies. We will look at our surronding area and faicilities near us which you can use.
   </li>
   <li>
      Role Training - We care about your development. You will be provided with a 30 day training. We will assign you a mentor for who will be there to help you with 
      any questions you might have. We will use different types of learning techniques like blended learning, self-paced learning, microlearning, and more so that you
      can select the style you are most comfortable with. All onboarding learning materials will be stored safely in a place that you can easily access and refer back to.
   </li>
   <li>
      Easing transition to new role - After 30 days you will start transitioning to the new role, feel more comfortable and be able to 
      start working with the team. You can always request one-on-one with your manager to raisue any issues or suggestions.
   </li>
</ol>

=======


<h2 class="points">Performance measurement</h2>
<p class="process">We will set clear responsibilities, expactations and smart goals to help you visualize what success, quality, and productivity 
    look like. After 90 days we will conduct a performance review to recognize your efforts so far and help you improve.
</p>


=======


{% endblock %}