{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<h1>Onboarding process</h1>
<h2>
Inclusiveness
<h2>
<p>We are specialised in inclusive onboarding processes. Our main goal is increasing diversity at work place and creating mentorship 
   programs which help companies embrace difference. 
</p>
<p>All of our hiring managers, interviewers and recruiters have been trained to understand and counteract their unconscious and conscious biases.
   Our hiring process and use techniques are fair (inclusive language in job ads, blind CV reviews, and standardized questions and scoring in interviews).
</p>
<h2>Onboarding procedure</h2>
<ol type="1">
   <li>Pre-onboarding - When the offer is accepted we will prepare everything for your first day. We will send you a form to fill out, 
      it will let us know if there is any additional requirement that we did not discuss on the interview to prepare it for your first day.
   </li>
   <li>
      Welcome on board - On your first day you will meet all your co-workers, we will have team lunch and this will be a day for settling in.
   </li>
   <li>
      Role Training - You will be provided with 30 day training. We will assign a mentor for you who will be there to help you with any wuestions you might have.
   </li>
   <li>
      Easing transition to new role - At the beginning of month two you will start to feel mmore comfortable and be able to start working with the team.
   </li>
</ol>
<h2>Performance measurement - first 30 days</h2>
<p>This is the best part ! We measure performance in the amount of tasks completed. 
   On the 30th day you will have one-on-one with your manager. We will adapt your performance to your skill level and adjust KPIs.
</p>

{% endblock %}