{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/questions.css') }}" type="text/css">
{% endblock %}

{% block body %}
<form id="questions-form" method="POST" action="">
    <h1 id="questions-form">Interviewees Ratings & Notes</h1>

    <section id="candidates">
        <label for="candidate">Candidate Name:</label>
        <input type="text" id="candidate" name="Candidate_Name"  readonly value={{interview.applicant}}>
    </section>

    <section id="questions">
        {% for question in question_set['questions'] %}
        {% if loop.first or question.section != question_set['questions'][loop.index0-1].section %}
            {% set isSectionChange = true %}
        <div class="section-one">
            <label for="first-set" class="question-header">Questions are on {{question.section}}</label>
        {% else %}
            {% set isSectionChange = false %}
        {% endif %}
            <div class="flex-container">
                <p class="question">{{question.question}}</p>
                <select name="first-set" id="first-set">
                    <option value="First_Set_Score">1</option>
                    <option value="First_Set_Score">2</option>
                    <option value="First_Set_Score">3</option>
                    <option value="First_Set_Score">4</option>
                    <option value="First_Set_Score">5</option>
                </select>
            </div>
        {% if isSectionChange %}
        </div>
        {% set isSectionChange = false %}
        {% endif %}
        {% endfor %}
    </section>
    <section id="interviewer">
        <label for="interviewer-name">Interviewer Name:</label>
            <input type="text" name="interviewer_name" id="interviewer-name" readonly value={{interview.interviewer}}>
        <label for="interviewer-email">Interviewer Email:</label>
            <input type="text" name="interviewer_email" id="interviewer-email" readonly value={{interview.interviewer_email}}>
    </section>
    <section id="notes">
        <label for="note">Notes:</label>
            <textarea name="notes" id="note" cols="40" rows="5"></textarea>
    </section>
    <div id="submit">
        <input type="submit" class="submit-btn">
    </div>
</form>
{% endblock %}